:host {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.log-overlay {
    background-color: var(--white-background);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 10px;
}

.loglist {
    height: 300px;
    overflow-y: auto;

    .log {
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--white-background);
        border-radius: 10p;
        word-wrap: break-word;

        &.warning {
            background-color: yellow;
        }

        &.error {
            background-color: red;
        }
    }
}

.toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-background);
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;

    &.hidden {
        left: 0;
        bottom: 0;
        top: unset;
        right: unset;
        opacity: 0;
    }
}