:host {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

mat-card-header {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}