:host {
    overflow: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    padding: 10px 10px 0 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}