/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    --white-background: rgba(255, 255, 255, 0.8);
    --light-white-background: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.flex-align-center {
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.winner {
    color: green;
}

.label {
    font-size: 0.7em;
    font-weight: bold;
}

.warning {
    color: red;
    font-weight: bold;
}

/** material overrides **/
.mat-mdc-card {
    --mdc-elevated-card-container-color: var(--white-background);
}

.mat-mdc-card-title {
    padding: 10px 10px 0 10px;
}

html {
    --mat-table-background-color: var(--light-white-background);
}