/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.flex-align-center {
    display: flex;
    align-items: center;
}

.winner {
    color: green;
}

.label {
    font-size: 0.7em;
    font-weight: bold;
}

/** material overrides **/
.mat-mdc-card {
    --mdc-elevated-card-container-color: rgba(255, 255, 255, 0.8);
}

html {
    --mat-table-background-color: rgba(255, 255, 255, 0.1);
}